.card {
    position: relative;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px; // Espaço entre os ícones
    position: absolute;
    bottom: 10px; // Posiciona os ícones acima do rodapé
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; // Oculta os ícones inicialmente
    transition: opacity 0.3s ease; // Transição suave para a opacidade
}

.card:hover .social-icons {
    opacity: 1; // Mostra os ícones ao passar o mouse
}

.icon {
    color: black; // Cor dos ícones
    font-size: 1.5rem; // Tamanho dos ícones
    text-decoration: none; // Remove underline
    transition: color 0.3s; // Transição de cor
}

.icon:hover {
    color: #ffd700; // Cor ao passar o mouse nos ícones
}
